body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(235, 18%, 26%);
    color: hsl(234, 29%, 20%);
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

#container-sign-up > p {
    font-size: 16px; 
}

#container-sign-up > p > img {
    padding-right: 0.4rem;
}

/* Container holds all elements */
#container-sign-up {
    margin-top: 1rem;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
    width: 60rem;
    height: 40rem;
    padding: 2em;
    border-radius: 3em;
}

/* Form - left side */
.sign-up-form {
    font-size: 16px;
    flex-direction: column;
    justify-content: space-between;
    width: 30rem;
    /* padding-top: 1.5rem; */
    padding-left: 2rem;
    padding-right: 2.5rem;
}

/* Image - right side */
.main-image > img {
    max-width: 100%;
  display: block;
}

/* Mobile Image hidden */
.mobile-image > img {
    display: none;
    visibility: hidden;
}

/* input & sign up text*/
form {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    flex-direction: column;
    width: 27rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border-color: hsl(231, 7%, 60%);
    color: hsl(234, 29%, 20%) ;
}


input {
    padding: 1.3rem;
    border-radius: 0.5rem;
    border-color: hsl(231, 7%, 60%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(231, 7%, 60%);
}

div #input-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* Invalid Email */
p#error {
    color: hsl(4, 100%, 67%);
    visibility: hidden;
    display: none;
}

form > button {
    margin: 1.5rem 0rem 1rem 0rem;
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 0.8rem;
    border-radius: 0.5rem;
}

/* hover submit button */
button#submit-button:hover {
    background-color:  hsla(4, 89%, 66%, 0.985);
}

/* Success state */

#success {
    display: flex;
    flex-direction: column;
    background-color: yellow;
    width: 25rem;
    height: 25rem;
    background-color: whitesmoke;
    padding: 2em;
    margin-top: 4rem;
    border-radius: 3em;
    visibility: hidden;
    display: none;
}

#success > p {
    margin-left: 1.3rem;
    margin-right: 1rem;
    line-height: 1.8rem;
}

#success > h1 {
    margin-left: 1.2rem;
}

#success > img {
    width: 4rem;
    height: 3rem;
    margin-left: 1rem;

}

#success > button {
    margin: 1.5rem 0rem 1rem 1.5rem;
    font-size: 16px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    width: 22rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
 }

 /* Footer */
 .attribution { 
    margin: 2rem;
    font-size: 11px; 
    text-align: center; 
    color: hsl(0, 0%, 100%); 
 }

 .attribution a { 
    text-decoration: none;
    color: hsl(0, 0%, 100%); 
 }
    
 



/*Mobile Layout*/
    @media(max-width: 854px){

    body {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
}
   
    #container-sign-up { 
        display: flex;
        background-color: white;
        flex-direction: column-reverse;
        align-items: center;
        width: 20rem;
        height: auto;
        padding: 0; 
        margin: 0;
    }

.sign-up-form {
    width: 20rem;
    padding: 0rem;
    margin: 0rem;
}

form {
    width: 20rem;
}

/* hide desktop image */
.main-image > img {
    padding: 0;
    display: none;
    visibility: hidden;
}

.mobile-image > img {
    display: flex;
    visibility: visible;
    object-fit: cover;
    width: 350px;
    padding: 0;
    margin: 0;
}

#success {
    width: 20rem;
    background-color: white;
    visibility: hidden;
    display: none;
    padding: 0.5rem 0;
    margin: 8rem 0 0 0 ;
}

#success > button {
    width: 20rem;
    padding: 1rem 0;
    margin: 13rem 0 0 0;
}

/* Footer */
    .attribution { 
        color: black; 
        margin: 14rem 0 0 0;
        font-size: 11px; 
        text-align: center; 
     }
    
     .attribution a { 
        color: black; 
        text-decoration: none;
     }
    }